const path = require("path");

module.exports = {
  entry: './src/main.js',
  output: {
    dir: 'dist',
    name: '##yourpackage##',
    formats: ['es'], // 'es', 'cjs', 'umd'
    minified: true,
    clean: true,
    sourceMap: false,
    minExt: false,
  },
  resolver: {
    extensions: ['.vue', '.js', '.json', '.sass', '.scss']
  },
  alias: {
    'src': './src', // must be relative
    'components': './src/components', // must be relative
  },
   statics: {
       'public': 'dist' // must be relative
   },
   env: 'production',
   css: [
       // 'src/css/app.scss'
   ]
}
